workflow-1-llm-slack/workflow.json
{
  "name": "Workflow 1 - LLM - Discord",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a concise technical assistant.\nWhen given a topic and category, write exactly 2 factual sentences about it. \nBe specific. No filler Phrases."
            },
            {
              "content": "={{`Topic: ${$node[\"Webhook\"].json.body.topic}\\nCategory: ${$node[\"Webhook\"].json.body.category}`}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "721b3408-b35d-4dae-8dbd-6c5f6125b716",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "KyjhJa5yUZCmhZYc",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eae00e91-05af-48d5-9981-1cac911142c0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8d180c11-5550-4bf7-a6df-02f55feca45d",
      "name": "Webhook",
      "webhookId": "eae00e91-05af-48d5-9981-1cac911142c0"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  // Fixed path - removed the broken fallback syntax on the original\n  const rawText = item.json.output[0].content[0].text || '';\n\n  // Clean up common LLM output noise\n  const cleaned = rawText.trim();\n\n  // Escaped \\n so JSON stays valid when sent to Slack\n  const formatted = cleaned.length > 0\n    ? `🤖 *AI Response*\\n\\n${cleaned}\\n\\n_Generated by n8n workflow_`.replace(/\\n/g, '\\\\n')\n    : '⚠️ No response received from LLM.';\n\n  return {\n    json: {\n      formatted_message: formatted,\n      char_count: cleaned.length,\n      original: rawText\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "4caa02f0-fb0f-48ae-9399-cefc87555f80",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## Webhook\nTriggers the workflow manually.",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -112
      ],
      "typeVersion": 1,
      "id": "1cea9c58-e5cb-4eb4-87b3-c270fa5b3e12",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## What this Workflow does\nManually triggered workflow that calls an LLM via the OpenAI API, formats the response with a Code node, and posts the result to a Slack channel via webhook.",
        "height": 128,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        224
      ],
      "typeVersion": 1,
      "id": "87c96b34-d6af-4754-8de0-04019e7eaa95",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##  LLM\nSends a prompt and recives an LLM response.",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -128
      ],
      "typeVersion": 1,
      "id": "404e3778-6390-44ef-b255-bad2ce995ed5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Code\nCleans and formats the raw LLM output.",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -128
      ],
      "typeVersion": 1,
      "id": "255d5979-41ca-4da2-877d-0094c5c1c231",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.formatted_message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        0
      ],
      "id": "bfbaf99f-510b-47d8-82c4-eaf568d586d8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## HTTP Request \nPosts formatted message to Slack webhook",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -128
      ],
      "typeVersion": 1,
      "id": "57ca5a38-07e1-4fea-9346-497304fbbc71",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c150285b-7156-4367-9189-658e5b4f9a57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19d6f1ac9af5149fbd7880bae792196282049205837213f9c167ce58a1f02f7d"
  },
  "id": "bWslHf1YmWRnnDjd",
  "tags": []
}